.navbar a:hover{
    color: rgb(201, 12, 12);
}
ul a.active{
    border-bottom: 1px solid red;
    transition:ease;
}
body{
    background-color: #f3e2f2
}
h1{
    font-family: 'Bitter', serif;
    color: #f46464;
}
h2{
    font-family: 'Raleway', sans-serif;
}



#header{
    width:100%;
    height:70vh;
    margin-top:50px;

    & h1{
        margin:0 0 10px 0;
        font-size: 43px;
        font-weight: 400;
        color:black;
    }
    & h2{
        color:#484848;
        font-size: 24px;
    }
    & .btn{
        background-color: rgb(212, 168, 226);
        color: black;
        font-size: 20px;
        transition: 0.5s;
        padding:7px 20px
    }
    & .btn:hover{
        background:#0d68a5;
        color:rgb(236, 245, 242);
        box-shadow: 0px 5px 15px rgb(49, 14, 14);
    }
}
.header-img{
    text-align: right;
    margin-top:30px;
}
.header-img .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.card-img{
    width:100%;
    height:14rem;
    border-radius: 2px;
}
.contact-heading{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}
hr{
    margin: 0 30%;
    color: blue;
}
.social-icon{
    align-items: center;
    text-align: center;
}
.social-icon a {
    text-decoration: none;
    font-size: 40px;
    margin-right: 25px;
    color: #d02727;

    display: inline-block;
    transition: transform 0.5s;
  }

.social-icon a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}
.serv-text{
    font-size: 68px;
}





/* Animation */
@-webkit-keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}




/* Responsive */

@media (max-width : 991px){
    #header{
        height:100% ;
        text-align:center;
    }

    #header .header-img{
        text-align: center;
    }
    #header h1{
        font-size: 42px;
        text-align: center;
    }

    #header .header-img img{
        width : 60%;
    }
    #welcomeBox{
        text-align: center;
    }
}

@media (max-width :768px) {
    #header{
        margin-top: 20px;
    }

    #header h1{
        font-size: 28px;
    }

    #header h2{
        font-size: 18px;
        margin-bottom: 30px;
    }
    #header .header-img img{
        width:70%
    }
}